<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Index</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <span>Final Project</span>
        </div>
    </nav>
    <div class="container">
        <div class="header">
            <h2>Welcome to uber-clone</h2>
        </div>
        <div class="buttons">
            <a class="signup-button" href="{{ url_for('sign_up') }}">Sign Up</a>
            <a class="login-button" href="{{ url_for('login') }}">Login</a>
        </div>
    </div>
    <img class="car" src="../static/image/car_icon.jpg" alt="Car">
</body>
</html>
